
@{
    ViewData["Title"] = "Destinos";
}
    <main>
        <section class="container">
            <div class="botao">
                <a class="nav-link text-dark" asp-area="" asp-controller="Destinoes" asp-action="Index"><img src="~/img/destino.png" class="img-fluid"></a>
            </div>
            <div class="botao">
                <a class="nav-link text-dark" asp-area="" asp-controller="Reservas" asp-action="Index"><img src="~/img/reserva.png" class="img-fluid"></a>
            </div>
        </section>
        <br><br><br><br>
    </main>
